*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --primary-color: #fb6900;
}

html{
  @media (max-width: 1080px){
      font-size: 93.75%;
  }
  
  @media (max-width: 720px){
      font-size: 87.5%;
  }
}

body{
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong{
  font-weight: 600;
}

button{
  cursor: pointer;
}

[disabled]{
  opacity: 0.6;
  cursor: not-allowed;
}


a{
  text-decoration: none;
  color: black;
}
input, textarea{
  border: 1px solid var(--primary-color);
}

textarea{
  width: 100%;
}

select{
  background-color:var(--primary-color);
  margin-top: 1rem;
  border-radius: 5px;
  border: 2px solid #FFF;
}

button{
  color: #FFF;
  margin-top:1.25rem;
  border-radius: 5px;
  align-self: center;
  font-weight: 700;
  width: 300px;
  padding: .25rem 1.25rem;
  border: none;
  background-color: var(--primary-color);
  transition: transform .2s;

}

button:hover{
  transform: scale(1.2);
}