.form {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-color);
  height: 600px;
  min-width: 280px;
  gap: 0.75rem;
}

.form > input,
.form > textarea {
  /* margin: 0.5rem 0 0 0; */
}

.form a {
  color: var(--primary-color);
  position: relative;
  top: -0.5rem;
  right: 0;
  width: 20px;
}
