.button {
  color: #fff;
  border-radius: 5px;
  align-self: center;
  font-weight: 700;
  text-align: center;
  width: 240px;
  padding: 0.25rem 1.25rem;
  border: none;
  background-color: var(--primary-color);
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.05);
}
