.requirements {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2rem 1rem;
  max-width: 600px;
  flex: 1;
  height: 600px;
  min-width: 280px;
}

.listRequeriments {
  margin: 2rem;
}

.listRequeriments > * {
  margin: 1rem 0;
  font-weight: 700;
}
